{% load crispy_forms_tags %}
{% load humanize %}
<div class="ml-2">
    {{ total_comments }} Comment{{ total_comments|pluralize }}
</div>

<hr>
<div class="m-2">
    <form method="POST" class="comment-form" action="./#result">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="hidden" name="entry" value="{{ forum.pk }}">
        {% if user.is_authenticated %}
            <input type="submit" value="Submit" class="btn btn-secondary tf">   
        {% else %}
            <input type="submit" value="Submit" class="btn btn-secondary tf" disabled>
        {% endif %}
    </form>
</div>
<hr>
{% if user.is_authenticated %}
{% else %}
<div class="m-2">
    <a href="{% url 'login' %}" class="btn btn-primary btn-block center tf">Login to comment or like post.</a>
</div>
<hr>
{% endif %}

{% for message in messages %}
<div class="center alert">
    <div class="d-flex justify-content-center links">
        <p id="messages">{{message}}</p>
    </div>
    <hr>
</div>
{% endfor %}

<div class="infinite-container">
    {% for comment in comments %}
    <div class="infinite-item" id="result">
        <blockquote class="m-2" style="border-color: grey">
            <p><small>{{ comment.content|safe|linebreaks|urlizetrunc:40 }}</small></p>
            <hr>
            <footer class="blockqoute-footer"><small>by <cite title="Source Title"><a href="{% url 'profile_view' comment.user %}">{{ comment.user }}</a></cite> | {{ comment.timestamp|naturaltime }}</small>
                {% if comment.user == request.user or user.is_superuser %}
                    <a href="{% url 'comment_delete' comment.id %}"><i class="fas fa-trash-alt" style="color: crimson;"></i></a>
                {% endif %}
                <button type="button" name="button" class="reply-btn btn btn-sm p-1 tf">{{ comment.replies.count }} Repl{{ comment.replies.count|pluralize:"y,ies" }}</button>
            </footer>
            <hr>
        </blockquote>

        <div class="replied-comments container m-2" style="display:none;">
            {% for reply in comment.replies.all %}
            <blockquote style="border-color: grey">
                <p><small>{{ reply.content|safe|linebreaks|urlizetrunc:40 }}</small></p>
                <hr>
                <footer class="blockqoute-footer"><small>by <cite title="Source Title"><a href="{% url 'profile_view' reply.user %}">{{ reply.user }}</a></cite> | {{ reply.timestamp|naturaltime }}</small>
                    {% if reply.user == request.user or user.is_superuser %}
                        <a href="{% url 'comment_delete' comment.id %}"><i class="fas fa-trash-alt" style="color: crimson;"></i></a>
                    {% endif %}
                </footer>
                <hr>
            </blockquote>
            {% endfor %}
            <div class="m-2">
                <form method="POST" class="reply-form" action="./#result">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    {{ comment_form|crispy }}
                    <input type="hidden" name="entry" value="{{ forum.pk }}">
                    {% if user.is_authenticated %}
                        <input type="submit" value="Submit" class="btn btn-secondary tf">   
                    {% else %}
                        <input type="submit" value="Submit" class="btn btn-secondary tf" disabled>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!--
<div class="container" style="text-align: center;">
    {% if comments.has_other_pages %}
        {% if comments.has_previous %}
            <a class="btn btn-outline-dark mb-2 mt-2 mr-2 tf" href="?page={{ comments.previous_page_number }}">Previous Page</a>
        {% endif %}

        {% if comments.has_next %}
            <a class="btn btn-outline-dark mb-2 mt-2 ml-2 tf" href="?page={{ comments.next_page_number }}">Next Page</a>
        {% endif %}       
    {% endif %}
</div>
-->
 

<div class="container" style="text-align: center;">
    {% if comments.has_other_pages %}
    {% if comments.has_next %}
        <a class="infinite-more-link" href="?page={{ comments.next_page_number }}"></a>
    {% endif %}  
    {% endif %}
    
    <div class="loading" style="display: none;">
        Loading...
    </div>
</div>

