<div class="m-2 form-inline">
    {{ total_likes }} 

    {% if user.is_authenticated %}
    <form action="{% url 'like_forum' %}" method="post">
        {% csrf_token %}
        {% if is_liked %}
            <i class="fa fa-heart ml-2 mr-4" style="color: red;" aria-hidden="true" type="submit" id="like" name="forum_id" value="{{ forum.id }}"></i>
        {% else %}
            <i class="fa fa-heart ml-2 mr-4" style="color: rgb(173, 158, 158);" aria-hidden="true" type="submit" id="like" name="forum_id" value="{{ forum.id }}"></i>
        {% endif %}
    </form>
    {% else %}
    like{{ total_likes|pluralize }}
    {% endif %}
</div>
