{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% block title %} {{ blog.title }} | TechWif {% endblock %}
{% block meta_extend %}
    <meta property="og:title" content="{{ blog.title }}" />
    <meta property="og:site_name" content="TechWif" />
    <meta property="og:url" content="https://www.techwif.com/{{ blog.get_absolute_url }}" />
    <meta property="og:description" content="{{ blog.content|safe }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ blog.imageURL }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="TechWif" />
    <meta name="og:title" content="{{ blog.title }}" />
    <meta name="twitter:description" content="{{ blog.content }}" />
    <meta name="twitter:creator" content="/techwif" />
    <meta name="twitter:image" content="{{ blog.imageURL }}" />
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="">
            <div class="col-lg-6 p-0">
                <div class="title-block">
                    <h4>{{ blog.title }}</h4>
                    <p>Updated on {{blog.modified_date }}</p>
                    <hr>
                    <div class="center">
                        <img class="center mt-2" width="100%" height="100%" src="{{ blog.imageURL }}">
                    </div>
                    <hr>
                    <div class="mt-2">
                        <ul class="social-share-grid">
                            <li>{% post_to_facebook object_or_url "<i class='fab fa-facebook fa-lg'></i>" %}</li>
                            <li>{% post_to_twitter blog.title object_or_url "<i class='fab fa-twitter fa-lg'></i>" %}</li>
                            <li>{% post_to_whatsapp object_or_url "<i class='fab fa-whatsapp fa-lg'></i>" %}</li>
                            <li>{% post_to_telegram blog.title object_or_url "<i class='fab fa-telegram fa-lg'></i>" %}</li>
                            <li>{% post_to_linkedin blog.title object_or_url "<i class='fab fa-linkedin fa-lg'></i>" %}</li>
                            <li>{% post_to_reddit blog.title object_or_url "<i class='fab fa-reddit fa-lg'></i>" %}</li>
                        </ul>   
                    </div> 
                    <hr>            
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="content-block">
                    {{ blog.content|safe|linebreaks|urlizetrunc:40 }}
                    <div class="m-2 center">
                        {% if blog.author == user %}
                        <hr>
                        <a class="btn btn-secondary tf m-2" href="{% url 'article_update' blog.slug blog.id %}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger tf m-2" href="{% url 'article_delete' blog.slug blog.id %}"><i class="fas fa-trash-alt"></i></a>
                        <hr>
                        {% endif %}
                    </div> 
                </div>
            </div>
        </div>
    </div>
        <!--
    <div class="container card my-4">
        <h4 class="p-2">Related Articles</h4>
    </div> -->

    <div class="article">
        <div class="container">
            <div class="row mt-2">
                {% for blog in blog_related %}
                <div class="container p-0">
                    <h2 class="sub-heading mt-4" id="main-articles">Related Articles &eqslantgtr;</h2>
                </div>
                
                <div class="col-md-6 col-lg-3">
                    <div class="card p-0">
                        <a href="{{ blog.get_absolute_url }}"><img height="200" class="w-100 mb-2" src="{{ blog.imageURL }}" alt=""></a>
                        <div class="box-element product">
                            <h6 class="mx-2"><strong><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></strong></h6>
                            <hr>
                            <div class="card-content-text mb-2">
                                <ul class="categoryTime ps-1">
                                    <li><a href="{{ blog.category.get_absolute_url }}">{{ blog.category }}</a></li>
                                    <li></li>
                                    <li>{{ blog.created_date|date:"F d, Y" }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--
                        {% empty %}
                    <div class="m-4 p-4">
                        <h5>No result found</h5>
                    </div>
                    -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>

    $(document).ready(function(e){
        $(function(){
            setTimeout(function(){
                $('.alert').slideUp(2000);
            }, 5000);
        });
    });

</script>
{% endblock %}