{% extends 'base.html' %}
{% block title %} Latest | TechWif {% endblock %}
{% include 'techsite/alerts.html' %}
{% block content %}
<script data-ad-client="ca-pub-4934423132077353" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<div class="container p-0">
    <div class="my-2 px-2">
        <form class="form-inline" action="{% url 'latest_updates' %}" method="GET">
            <input class="" type="text" placeholder="Search articles" aria-label="Search" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-secondary tf" type="submit">Search</button>
        </form>
    </div>

    <h2 class="sub-heading mt-4" id="main-articles">The Latest &eqslantgtr;</h2>
</div>
<div class="article">
    <div class="container">
        <div class="row mt-2">
            {% for blog in object_list %}
            <div class="col-md-4 col-lg-3 mt-2">
                <div class="card p-0">
                    <a href="{{ blog.get_absolute_url }}"><img height="200" class="w-100 mb-2" src="{{ blog.imageURL }}" alt=""></a>
                    <div class="box-element product">
                        <h6 class="mx-2"><strong><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></strong></h6>
                        <hr>
                        <div class="card-content-text mb-2">
                            <ul class="categoryTime ps-1">
                                <li><a href="{{ blog.category.get_absolute_url }}">{{ blog.category }}</a></li>
                                <li></li>
                                <li>{{ blog.created_date|date:"F d, Y" }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="card center m-4 p-4">
                <h5 class="center">No result found!</h5>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container" style="text-align: center;">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark mb-4 me-2 tf" href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-dark mb-4 ms-2 tf" href="?page={{ page_obj.next_page_number }}">Next Page</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}