{% extends 'base.html' %}
{% load static %}
{% block title %} About Us | TechWif {% endblock %}
{% block meta_extend %}
    <meta name="description" content=">About TechWif." />
	<meta property="og:image" content="{% static 'techwif\techwif-favicon.png' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-4 mb-4">
        <h2 class="sub-heading2">About Us</h2>

        <p>At TechWif, we render optimum services on web solutions, civil engineering designs and analysis, NFTs, trainings and so on.</p>
        <p>We have been a great brand to the growth of businesses, companies and individuals. We believe there is a better way to help our clients increase productivity and achieve their objectives.</p>
        <hr>

        <h4>What We Do</h4>

        <p>We render services on:</p>
        
        <ul>
            <li>Web solutions.</li>
            <li>Civil/Structural design and analysis.</li>
            <li>Trainings and bootcamps.</li>
            <li>Non-Fungible Tokens.</li>
            <li>Latest updates on technology.</li>
        </ul>
        <hr>

        <h4>We Value:</h4>
        <ul>
            <li>Creativity.</li>
            <li>Integrity.</li>
            <li>Timely delivery.</li>
            <li>Satisfaction.</li>
            <li>Innovation.</li>
            <li>Accountability etc.</li>
        </ul>
        <hr>

        <h4>Our Motto</h4>
        <p>TechWif - Unraveling the world of technology.</p>
    </div>
</div>

{% endblock %}