{% extends 'base.html' %}
{% load static %}
{% block title %} Place Advert | TechWif {% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-8 card mt-4 mb-4">
            <img src="{% static 'images/Advertise-With-Us-1.jpg' %}" alt="" class="center mt-2" width="100%" height="250">
            <div class="plain-text m-0">
                <hr>
                <p style="text-align: center;">We've got the right experience and strategy to make your brand or company ahead of others. To promote and market your businesses to larger audience.</p>
                <p style="text-align: center;">Getting across to the right audience is guaranteed when you advertise with us.</p>
                <hr>
            </div>
            <div class="contact-btn">
                <a href="{% url 'contact_us' %}" class="btn btn-dark btn-block mt-4" role="button" style="text-transform: none;">Contact Us</a>
            </div> 
        </div>   
    </div>       
</div>

{% endblock %}