{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us | TechWif {% endblock %}
{% block meta_extend %}
    <meta name="description" content="Email: contact@techwif.com, Phone: +2348100686012; +2349061358970, Address: Stateline FUTA, Akure, Ondo State, Nigeria." />
	<meta property="og:image" content="{% static 'techwif\techwif-favicon.png' %}" />
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="mt-4">
                <div class="">
                    <div class="user_card my-2">
                        <p><i class="fa fa-envelope fa-lg"></i> techwifofficial@gmail.com</p>
                        <p><i class="fa fa-phone fa-lg"></i> +2348100686012; +2349168727545</p>
                        <p><i class="fa fa-map-marker-alt fa-lg"></i> Abuja, Nigeria</p>
                        <hr>
                        <a class="btn btn-secondary btn-block align-items-center" href="https://wa.me/2348100686012"><i class="fa fa-whatsapp fa-lg"></i> WhatsApp</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mt-4">
                <div class="">
                    <div class="user_card my-2">
                        <div class="form_container">
                            <form method="POST" action="">
                                {% csrf_token %}   
                                <div class="input-group mb-4">
                                    {{ form.as_p }}
                                </div>   
                                
                                {% if form.errors %}
                                <div class="alert alert-error" style="list-style-type: none;">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li class="mb-2">{{ field.errors|striptags }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
        
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <button class="btn login_btn" type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>           
</div>
    
{% endblock %}

{% block javascript %}
<script>

    $(document).ready(function(e){
        $(function(){
            setTimeout(function(){
                $('.alerts').slideUp(2000);
            }, 5000);
        });
    });

</script>
{% endblock %}