{% extends 'base.html' %}
{% block title %} Privacy Policy | TechWif {% endblock %}
{% block meta_extend %}
    <meta name="description" content=">We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page." />
	<meta property="og:image" content="{% static 'techwif\techwif-favicon.png' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-4 mb-4">
        <h2 class="sub-heading2">Privacy Policy</h2>

    <p>We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.</p>
    <p>We regard your privacy and we will ensure to provide a safe user experience. By using this Website, you agree to the policies and practices of this Website.</p>
    <hr>
    <h4>User Data</h4>

    <p>By using this website, we may collect some data vital to us, such as the following data:</p>
    
    <ul>
        <li>Your contact information and email address.</li>
        <li>Other information such as interests and preferences.</li>
        <li>Data profile regarding your online behavior on our website.</li>
    </ul>

    <p>We are collecting your data for several reasons, these include:</p>

    <ul>
        <li>To have access to the Website and better understand your interests.</li>
        <li>To improve our services and products.</li>
        <li>To send you promotional emails containing various updates and information we think you will find interesting.</li>
        <li>To customize our website according to your online behavior and personal preferences.</li>
    </ul>
    <hr>
    <h4>Security of Information</h4>

    <p>We are committed to securing your data and keeping it confidential, and to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online.</p>
    <p>In order to keep personal information secure, you must not share your password or other security information with other users or unauthorized websites.</p>
    <hr>
    <h4>Cookies</h4>

    <p>Once you agree to allow our website to use cookies, you also agree to use the data it collects regarding your online behavior (analyze web traffic, web pages you spend the most time on...).</p>
    <p>The data we collect by using cookies is used to customize our website to your needs. After we use the data for statistical analysis, the data is completely removed from our systems.</p>
    <p>Please note that cookies don't allow us to gain control of your computer in any way. They are strictly used to monitor which pages you find useful and which you do not so that we can provide a better experience for you.</p>
    </div>
</div>

{% endblock %}