<!DOCTYPE html>
{% load static %}
{% load materializecss %}
{% load bootstrap4 %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}

<html class="" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" initial-scale="1" maximum-scale="1" user-scalable="1" viewport-fit="cover" />
	<title>
		{% block title %} TechWif | Unraveling the world of technology {% endblock %}
	</title>
	<meta name="description" content="We give tech updates and render tech related services such as web development, SEO and so on.
		A fast-growing tech community where you learn from and share with others.
		Shop online on TechWif - Ebooks, phones and tablets, computing etc." />
	{% block meta_extend %}
	<meta property="og:image" content="{% static 'techwif\techwif-favicon.png' %}" />
	{% endblock %}
	<link rel="icon" href="{% static 'techwif\techwif-favicon.png' %}" sizes="16x16 32x32" type="image/png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"	/>
	<link rel="stylesheet" href="{% static 'css\materialize.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css\materialize-social.css' %}" />
	<link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css\bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'css\ecommerce.css' %}" />
	<link rel="stylesheet" href="{% static 'css\base.css' %}" />
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179482776-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-179482776-1');
	</script>

	<script data-ad-client="ca-pub-4934423132077353" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script type="text/javascript">
		var user = '{{ request.user }}'

		function getToken(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
		

		function getCookie(name) {
			// Split cookie string and get all individual name=value pairs in an array
			var cookieArr = document.cookie.split(";");
			// Loop through the array elements
			for (var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");
				/* Remove whitespace at the beginning of the cookie name and compare it
				with the given string */
				if(name == cookiePair[0].trim()) {
					// Decode the cookie value and return
					return decodeURIComponent(cookiePair[1]);
				}
			}
			// Return null if not found
			return null;
		}

		var cart = JSON.parse(getCookie('cart'))
		if(cart == undefined){
			cart = {}
			console.log('Cart was created!');
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart);
		
	</script>
</head>

<body>
	<nav class="light-blue darken-4">
		<div class="header-nav-bar" id="top-nav">
			<a href="{% url 'homepage' %}" class="left pr-4 pl-2"><img height="40" width="40" src="{% static 'techwif\favicon-white.png' %}" alt=""></a>
			<ul id="nav-mobile" class="right">
				{% if user.is_authenticated %}
					<li><a href="{% url 'profile_view' request.user %}" style="color: rgb(216, 207, 207);">@{{ request.user }}</a></li>
					<li>
						{% if unread_count %}
							<a class="badge badge-danger mt-2 ml-2 mr-2" href="{% url 'notification_list' %}" >{{ unread_count }}</a>	
						{% else %}
							<a class="badge badge-danger mt-2 ml-2 mr-2" href="{% url 'notification_list' %}" > </a>
						{% endif %}	
					</li>
					<li><a href="{% url 'logout' %}"  style="color: rgb(216, 207, 207);">Sign Out</a></li>
				{% else %}
					<li><a href="{% url 'login' %}?next={{ request.get_full_path }}" style="color: rgb(216, 207, 207);">Sign In</a></li>
					<li><a href="{% url 'register' %}" style="color: rgb(216, 207, 207);">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<nav class="light-blue darken-3">
		<div class="header-nav-bar">
			<ul class="bottom-nav-list">
				<li><a href="{% url 'service_list' %}">Services</a></li>
				<li><a href="{% url 'forum_list' %}">Forum</a></li>
				<li><a href="{% url 'store' %}">Store</a></li>
				<li><a href="{% url 'review_list' %}">Jobs</a></li>
			</ul>
		</div>
	</nav>
	{% include 'techsite/alerts.html' %}
	{% block content %}
	
	
	<div class="container">
		<div class="row mt-4">
			<div class="col-md-8 mt-2">
				<div class="box-element">
					<h6>We render services on web development, cloud computing and database management, search engine optimization, civil engineering works and design etc.</h6>
					<a class="btn btn-primary btn-block mt-4" href="{% url 'service_list' %}">Learn more...</a>
				</div>
			</div>
			<div class="col-md-4 mt-2">
				<a href="{% url 'store' %}">
					<img src="{% static 'images/ecommerce.png' %}" alt="" class="" width="100%" height="100%">
				</a>
				<div class="box-element">
					<a href="{% url 'store' %}">Shop now!</a>
					<h6>Ebooks, Amazon products, phones, computers...</h6>
				</div>
			</div>
		</div>
	</div>

	<h2 class="sub-heading mt-2" id="main-articles">The Latest &eqslantgtr;</h2>

	<div class="article">
		<div class="container">
			<div class="row mt-2">
				{% for blog in object_list %}
				<div class="col-md-6 col-lg-4">
					<a href="{{ blog.get_absolute_url }}"><img class="thumbnail" src="{{ blog.imageURL }}" alt=""></a>
					<div class="box-element product">
						<h6><strong><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></strong></h6>
						<hr>
						<div class="card-content-text">
							<ul class="categoryTime">
								<li><a href="{{ blog.category.get_absolute_url }}">{{ blog.category }}</a></li>
								<li></li>
								<li>{{ blog.created_date|date:"F d, Y" }}</li>
							</ul>
						</div>
					</div>
				</div>
				{% empty %}
				<div class="card center m-4 p-4">
					<h5 class="center">No result found!</h5>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div class="container" style="text-align: center;">
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a class="btn btn-outline-dark mb-4 mr-2 tf" href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
			{% endif %}
			{% if page_obj.has_next %}
				<a class="btn btn-outline-dark mb-4 ml-2 tf" href="?page={{ page_obj.next_page_number }}">Next Page</a>
			{% endif %}
		{% endif %}
	</div>

	{% endblock content %}
	
	<script src="https://kit.fontawesome.com/79bfb5ad6a.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
		integrity="" crossorigin="anonymous">
	</script>
	<script src="{% static 'js\jquery.min.js' %}"></script>
	<script src="{% static 'js\jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js\infinite.min.js' %}"></script>
	<script src="{% static 'js\materialize.min.js' %}"></script>
	<script src="{% static 'js\bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js\bootstrap.bundle.js' %}"></script>
	<script src="{% static 'js\bootstrap.min.js' %}"></script>
	<script src="{% static 'js\base.js' %}"></script>

	{% block javascript %}{% endblock %}
	<br>	
</body>
<footer class="">
	<div class="footer mt-2">
		<div class="footer-PAC mt-4">
			<ul class="footer-PAC-list">
				<li><a href="{% url 'privacy_policy' %}">Privary Policy</a></li>
				<li><p>|</p></li>
				<li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
				<li><p>|</p></li>
				<li><a href="{% url 'advertise' %}">Advertise</a></li>
				<li><p>|</p></li>
				<li><a href="{% url 'contact_us' %}">Contact Us</a></li>
			</ul>
		</div>
		
		<div class="container" style="color: rgb(243, 239, 239);">	
			<div class="center mb-4 mt-2">
				<ul class="social-media">
					<h5 class="">Follow Us:</h5>
					<li><a target="_blank" href="https://www.facebook.com/techwif"><i class="fab fa-facebook-f fa-lg"></i></a></li>
					<li><a target="_blank" href="https://www.twitter.com/techwif"><i class="fab fa-twitter fa-lg"></i></a></li>
					<li><a target="_blank" href="https://www.instagram.com/techwifofficial"><i class="fab fa-instagram fa-lg"></i></a></li>
					<li><a target="_blank" href="https://www.youtube.com/channel/UCDvsly4ahXy21U_h_FVNTcQ"><i class="fab fa-youtube fa-lg"></i></a></li>
				</ul>		
			</div>
		</div>

		<div class="back-to-top">
			<button type="button" class="btn btn-outline-dark btn-sm btn-block mb-" 
				onclick="topFunction()" id="myBtn"
				title="Go to top">
				Back to Top
			</button>
		</div>
	</div>
</footer>
</html>