.bottom-nav-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.front-article {
    background: rgb(245, 244, 244);
    border: 0.5px solid rgb(197, 194, 194);
    border-radius: 5px;
    width: 98% auto;
    margin: 3px; 
}

.back-to-top, .contact-btn {
    display: flex;
    justify-content: center;
    margin: 0px 20px 20px 20px;  
}

.service-list, .course-list {
    display: flex;
    justify-content: center;
    margin: 30px 20px 50px 20px;  
}

.footer-PAC-list, .social-media {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10px 0px 10px;
}

.social-share-grid {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
}

.social-share {
    display: grid; 
    grid-template-columns: 5% 95%;   
    gap: 1em;    
    grid-auto-rows: minmax(20px, auto);
}

.sub-heading {
    color: grey;
    text-decoration: none;
    padding: 15px 0px 5px 10px;
}

.sub-heading2 {
    color: grey;
    text-decoration: none;
    padding: 15px 0px 5px 0px;
}

.card-image {
    width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.card-image:hover img {
    display: block;
    padding: 2px;
    background-color: rgb(90, 90, 143);
}

.blog-title {
    margin: 5px 5px 0px 5px;
    padding: auto;
    height: 50px; 
}

.categoryTime {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px 0px 5px;
    padding: auto;
}

.article-title {
    margin: 10px -10px 5px -10px;
    padding: 0px 20px 10px 20px;
}

.article-text {
    background: rgb(245, 244, 244);
    border: 0.5px solid rgb(197, 194, 194);
    border-radius: 5px;
    width: 98% auto;
    padding: 3px;
    margin: 3px;
}

.advert-banner {
    background-color: rgb(100, 150, 170);
    color: rgb(236, 231, 223);
    text-align: center;
    padding: 50px;
    margin: 50px 30px 40px 30px;
}

.plain-text {
    text-align: center;
    padding: 0px 15px 20px 15px;
    margin: 15px 0px 5px 0px;
}

.footer {
    background-color: black;
    padding: 1px;
}

.user_card {
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f4f5f5;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: rgb(94, 93, 93);
}

.login_btn {
    width: 100%;
    background: #535f63 !important;
    color: white !important;
    text-transform: none;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 0rem;
}

.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.temp_card {
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.tf {
    text-transform: none;
}

@media screen and (min-width: 750px) {
    .detail-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;   
        gap: 1em;    
        grid-auto-rows: minmax(100px, auto);
    }
}

@media screen and (min-width: 750px) {
    .forum-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;   
        gap: 1em;    
        grid-auto-rows: minmax(100px, auto);
    }
}

.title-block, .content-block {
    padding: 0.5em;
}

.social-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.social-links {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: .618rem .236rem;
    text-align: center;
}
