{% extends "base.html" %} 
{% block title %} Delete Post | Techwif {% endblock %}
{% block content %}
<div class="container h-50">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card mt-4 mb-4">
            <div class="center">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <legend class="border-bottom mb-4">Delete Post</legend>
                        <p>Are you sure you want to delete this post?</p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-danger mt-4 mr-2 tf" type="submit">Yes, Delete</button>
                        <a class="btn btn-outline-secondary mt-4 ml-2 tf" href="{% url 'service_detail' object.slug object.id %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}