{% extends 'base.html' %}
{% block title %} Services | TechWif {% endblock %}
{% block content %}

<div class="container">
    <h2 class="sub-heading mt-4" id="main-articles">Our Services</h2>

    {% for service in object_list %}
    <div class="col-md-8">
        <div class="box-element mt-4 center">
            <a href="{{ service.get_absolute_url }}">{{ service.title }}</a>
        </div>
    </div>
    
    {% empty %}
        <div class="card center m-4 p-4">
            <h5 class="center">No result found.</h5>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script>

    $(document).ready(function(e){
        $(function(){
            setTimeout(function(){
                $('.alert').slideUp(2000);
            }, 5000);
        });
    });

</script>
{% endblock %}