{% load static %}

<nav class="grey darken-2" id="store-nav">
    <div class="form-inline right mr-4">
        <div class="dropdown">
            <button type="button" class="btn btn-outline-primary pl-4 pr-4 dropdown-toggle tf" 
                id="dropdownMenuButton" data-toggle="dropdown" 
                aria-expanded="false" aria-haspopup="true"
                style="color: white;">
                Shop by Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for item in cat_menu_list %}
                    <a class="dropdown-item btn btn-secondary btn-block tf mb-2" role="button" href="{% url 'product_category' item|slugify %}">{{ item }}</a>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}">
        </a>
        <p id="cart-total m-0">{{ cartItems }}</p>
    </div>
</nav>

<style>
    .sticky {
        position: fixed !important;
        top: 0;
        width: 100%;
    }

    #store-nav {
        z-index: 1;
    }
</style>
