{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{ product.name }} | TechWif {% endblock %}
{% block content %}
{% include 'ecommerce/navbar_ecommerce.html' %}
    
    <div class="container mt-4 mb-4">
        <div class="mt-4">
            <form class="form-inline" action="{% url 'store' %}" method="GET">
                <input class="" type="text" placeholder="Search store" aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-secondary tf" type="submit">Search</button>
            </form>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-5 p-0">
                <div class="title-block">
                    <h5>{{ product.name }}</h5>
                    <hr>
                    <div class="center">
                        <img class="center mt-2" width="" height="300" src="{{ product.imageURL }}">
                    </div>   
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-block">
                    <div class="card p-2">
                        <h5>Price: <strong>&#8358;{{ product.price|intcomma }}</strong></h5>
                    </div>
                    <div class="card p-2">
                        <h5>Description</h5>
                        <hr>
                        {{ product.description|safe|linebreaks|urlizetrunc:40 }}
                    </div>
                    <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary btn-block add-btn update-cart tf">Add to Cart</button>
                    <div class="m-2 center">
                        {% if product.author == user %}
                        <hr>
                        <a class="btn btn-secondary tf m-2" href="{% url 'product_update' product.slug product.id %}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-secondary tf m-2" href="{% url 'product_update_image' product.slug product.id %}"><i class="fas fa-camera"></i></a>
                        <a class="btn btn-danger tf m-2" href="{% url 'product_delete' product.slug product.id %}"><i class="fas fa-trash-alt"></i></a>
                        <hr>
                        {% endif %}
                    </div> 
                </div>
            </div>
            <div class="col-lg-4">
                <div id="content-wrapper">
                    <div class="column center">
                        <img id="featured" src="{{ product.imageURL }}" alt="">
                        <div id="slide-wrapper" class="mt-2">
                            <i class="fa fa-chevron-left mr-2" id="slideLeft"></i>
    
                            <div id="slider">
                                {% for f in product.productimages_set.all %}
                                    <img class="thumbnail-product" src="{{ f.image.url }}" alt="">
                                {% endfor %}
                            </div>
    
                            <i class="fa fa-chevron-right ml-2" id="slideRight"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="card mt-4 mb-2">
            <h4 class="p-2">Recommended Products</h4>
        </div>
        <div class="row mt-2">
            {% for product in product_related %}
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ product.get_absolute_url }}"><img class="thumbnail" src="{{ product.imageURL }}" alt=""></a>
                <div class="box-element product">
                    <h6><strong><a href="{{ product.get_absolute_url }}">{{ product.name|truncatechars:20 }}</a></strong></h6>
                    <hr>
                    <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary btn-sm add-btn update-cart tf">Add to Cart</button>
                    <h6 class="price-tag"><strong>(&#8358;{{ product.price|intcomma }})</strong></h6>
                </div>
            </div>
            {% empty %}
            <div class="card center m-4 p-4">
                <h5 class="center">No result found.</h5>
            </div>
            {% endfor %}
        </div>
    </div>

    <style>
        #content-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        #featured {
            max-width: 300px;
            max-height: 400px;
            object-fit: cover;
            cursor: pointer;
            border: 2px solid black;
        }

        .thumbnail-product {
            max-width: 200px;
            max-height: 150px;
            object-fit: cover;
            cursor: pointer;
            margin: 5px;
            border: 2px solid black;
        }

        .thumbnail-product:hover {
            opacity: 1;
        }

        .active {
            opacity: 1;
        }

        #slide-wrapper {
            display: flex;
            max-width: 400px;
            min-height: 100px;
            align-items: center;
        }

        #slider {
            display: flex;
            flex-wrap: nowrap;
            width: 340px;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block javascript %}
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {   
        },
        offset: 'bottom-in-view',

        onBeforePageLoad: function() {
            $('.loading').show();
        },
        onAfterPageLoad: function() {
            $('.loading').hide();
        }
    });

    // Hiding message after form submission
    $(document).ready(function(e){
        $(function(){
            setTimeout(function(){
                $('.alert').slideUp(2000);
            }, 5000);
        });
    });

    // sticky navbar for store
    window.onscroll = function() {myFunction()};
    var navbar = document.getElementById("store-nav");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        };
    };
</script>
{% endblock %}