{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Store | Techwit {% endblock %}
{% block content %}
{% include 'ecommerce/navbar_ecommerce.html' %}

<div class="container">
    <div class="mt-4">
        <form class="form-inline" action="{% url 'store' %}" method="GET">
            <input class="" type="text" placeholder="Search store" aria-label="Search" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-secondary tf" type="submit">Search</button>
        </form>
    </div>
    <hr>

    <img src="{% static 'images/ecommerce.png' %}" alt="" class="center mt-4 mb-4" width="100%" height="100%">
    
    <div class="row mt-2 infinite-container">
        {% for product in products %}
        <div class="col-md-6 col-lg-4 infinite-item">
            <a href="{{ product.get_absolute_url }}"><img class="thumbnail" src="{{ product.imageURL }}" alt=""></a>
            <div class="box-element product">
                <h6><strong><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></strong></h6>
                <hr>
                <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary btn-sm add-btn update-cart tf">Add to Cart</button>
                <h6 class="price-tag"><strong>(&#8358;{{ product.price|intcomma }})</strong></h6>
            </div>
        </div>
        {% empty %}
        <div class="card center m-4 p-4">
            <h5 class="center">No result found.</h5>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container" style="text-align: center;">
    {% if products.has_next %}
        <a class="infinite-more-link" href="?page={{ products.next_page_number }}"></a>
    {% endif %}  
    
    <div class="loading" style="display: none;">
        Loading...
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {   
        },
        offset: 'bottom-in-view',

        onBeforePageLoad: function() {
            $('.loading').show();
        },
        onAfterPageLoad: function() {
            $('.loading').hide();
        }
    });

    // Hiding message after form submission
    $(document).ready(function(e){
        $(function(){
            setTimeout(function(){
                $('.alert').slideUp(2000);
            }, 5000);
        });
    });

    // sticky navbar for store
    window.onscroll = function() {myFunction()};
    var navbar = document.getElementById("store-nav");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        };
    };
</script>
{% endblock %}