<nav class="light-blue darken-4">
    <div class="header-nav-bar" id="top-nav">
        <a href="{% url 'homepage' %}" class="brand-logo left grey darken-2 pl-2 pr-2 m-0" style="font-family: 'Courier New', Courier, monospace; color: rgb(229, 203, 194);"> <h5>TechWif</h5></a>
    </div>
</nav>

<p>Hello,</p> 

<p>You are welcome to TechWif! We are so glad you joined this wonderful family.</p> 

<p>We are so determined to give you the best services, update you with latest updates and ideas across the world of technology.</p> 
<p>We have a forum that you can share your ideas with people and you can also learn from others.</p> 

<p>Your happiness is our satisfaction.</p> 
<p>Thank you.</p> 